/*font-family: 'Abel', sans-serif;
font-family: 'Lora', serif;*/
body {
    background-color: #e8e8e8;
}

.carousel-item {
    position: relative;
}

.carousel-item>h1 {
    font-size: 7.5rem;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -7.5%)
}

.name-svg {
    width: 50vw;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -20%);
    z-index: 9999;
}

.carousel-item>* {
    max-width: 100%;
    min-height: 100%;
    overflow: auto;
}

.card {
    font-family: 'Roboto';
    border: none;
}

.card-body {
    padding: 1.75rem;
}

.about-me {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
    background-color: #e8e8e8;
    padding: 3% 7.5%;
}

.about-me img {
    margin: 5px;
}

.position {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-columns: 100px 1fr;
}

.container {
    padding-top: 2.5%;
}

article.position {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
    padding: 2.5% 0;
}

#links-container {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

#links-container>.link {
    font-size: 1.75rem;
    text-align: center;
}

.link>a {
    color: black;
}

.roboto-thin {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: italic;
}


@media(max-width: 768px) {
    body {
        font-size: small;
    }

    .card {
        padding: 0;
    }

    .card-body {
        padding: 1rem;
    }

    .position {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .position>img {
        display: block;
        margin: 0 auto;
    }

    .card h1,
    .card h2,
    .card h3 {
        font-size: 1.5rem;
    }

    .card h4,
    .card h5 {
        font-size: 1.25rem;
    }

    .card h6,
    .card h7 {
        font-size: 1.1rem;
    }

    #links-container>.link {
        font-size: 1.25rem;
    }

    #links-container img {
        width: 30px;
        height: auto;
    }
}