/*font-family: 'Abel', sans-serif;
font-family: 'Lora', serif;*/
.jumbotron{
    background-image: url("/resources/jabez-samuel-1091148-unsplash-compressed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.display-1{
    font-family: 'Lora', serif;
}
.container{
    color: antiquewhite;
}