/*font-family: 'Abel', sans-serif;
font-family: 'Lora', serif;*/
.carousel-item > * {
    max-width: 100%;
    min-height: 100%;
    overflow: auto;
}

.display-1{
    font-family: 'Lora', serif;
}
.container{
    color: antiquewhite;
}

#main-carousel {
    height: 75%;
}